@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
.safe-pad { padding-bottom: env(safe-area-inset-bottom); }
.safe-top { padding-top: env(safe-area-inset-top); }
